.InfoPage {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 80px;
    margin: 100px auto;
    box-shadow: 0 2px 4px gray;
  }
  
  .PageHeader {
    font-size: 2.25rem;
    margin-bottom: 20px;
  }

  .SectionHeader {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }

  .StatTitle {
    font-size: 1.25rem;
  }

  .StatNumber {
    font-size: 3rem;
  }
  
  .column {
    float: left;
    width: 33.33%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }